.profiles-count {
  font-size: 80%;
}

.profile-count::first-line {
  font-weight: bold;
  font-size: 150%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  height: auto;
  margin: 0 auto;
  max-width: 754px;
}
.item {
  img {
    width: 30vw;
    height: 30vw;
    padding: .2vw;
    max-width: 250px;
    max-height: 250px;
  }
}


